body{
	font-family: 'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
}

.boxwrap{
	display: inline-block; 
	width:30%; 
	margin: 5px;
}
.box{
	width:100%;
}
.previewwrap{
	vertical-align:top;
}
.preview{
	border: 1px solid grey; 
	height: 100%; 
	white-space: pre-wrap; 
	height: 756px; 
	overflow: auto;
	background-color: white;
}